html{
    background-image: url("images/background.jpg")
}
body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid purple;
    border-radius: 60px;
    background-color:white;
    opacity: 0.5px;
    text-align: center;
    width: 600px;
    
}
a:hover{
   text-decoration: underline;
    visibility: visible;
    color: yellow;
    
}
.second{
    border: 2px solid purple;
    background-color: purple;
    color: white;
    padding: 20px ;
        
}
.one{
    background-color:green;
    font-size: 20px;
    color: white;
}
a{
    font-family: Georgia;
    font-weight:italic;
    color: white;
}
.links{
    margin: 20px;
    padding: 10px;
}
